{% extends "bodylayout.twig" %}

{% block title %}silex-hriste{% endblock %}

{% block content %}

    <div class="row">
        <div class="small-12 columns">
            <a href="#" id="showAllBtn" class="button sucess tiny">Show unread</a>
            <a href="#" id="reloadBtn" class="button warning tiny">Reload</a>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="no-bullet">
                <li>
                    <span class="label info">{{ thread.users }}:</span>
                    <span class="small-text"> unread: {{ thread.unread }} , unseen: {{ thread.unseen }}</span>
                    <ul class="no-bullet">
                        {% for message in thread.messages %}
                            <li class="message-{{ message.status }}">
                                <span class="label secondary">{{ message.from }}:</span>
                                <span class="small-text">{{ message.created_time }}:</span>

                                <div class="message-text">{{ message.message | raw }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            Logged in as: {{ fbUserName }}, id: {{ fbId }}
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="button tiny" href="{{ logoutUrl }}">Facebook logout</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#showAllBtn').trigger('click');
        });
    </script>

{% endblock %}
